body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.clear{
    clear: both;
}
.tableContainer{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    position: relative;
    height: 910px;
}
.card{
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    width: 130px;
    height: 170px;
    border-radius: 15% 15% 25% 25%;
    position: relative;
    overflow: hidden;
}
.currentCard{
    transition: all ease 1.5s;
    position: absolute;
    left: -150px;
    top: 10px;
    overflow: visible;
    z-index: 1;
}
.teamContainer, .cardImageContainer{
    float: left;
    height: 50%;
    position: relative;
}
.teamContainer{
    width: 35%;   
}
.cardImageContainer{
    width: 65%;
}
.statContainer{
    position: relative;
    width: 80%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;;
}
.cardImage{
    margin: 5px auto;
    width: 90%;
    height: 90%;
}
.overallDiv, .posDiv{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 20%;
    color: #333;
    text-align: center;
    font-weight: bold;   
}
.posDiv{
    font-size: 12pt;
}
.overallDiv{
    font-size: 16pt;
    margin-bottom: 2px;
}
.teamsImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23px;
    height: 23px;
}
.nameDiv, .statDiv{
    width: 100%;
}
.nameDiv{
    border-bottom: #333 2px solid;
    height: min-content;
    text-align: center;
}
.statDiv{
    height: 100%;
    font-size: 10pt;
}

.gold{
    background-image: linear-gradient(to bottom right, rgb(221,200,133),rgb(188,163,92));
}
.gold-rare{
    background-image: linear-gradient(to bottom right, rgb(255, 226, 149), rgb(220, 152, 38),rgb(255, 226, 149) );
}
.silver{
    background-image: linear-gradient(to bottom ,rgb(209, 208, 208), rgb(162,160,160) );
}
.silver-rare{
    background-image: linear-gradient(to bottom right, rgb(237,237,238), rgb(213,214,216),rgb(237,237,238),rgb(171,172,173)  );
}
.bronze{
    background-image: linear-gradient(to right,rgb(230, 186, 137), rgb(137,94,63) );
}
.bronze-rare{
    background-image: linear-gradient(to bottom right,rgb(254,215,184),rgb(196, 149, 110));
}
